<section id="banner">
    <div class="inner split">
        <section>
            <h2>Teste Prático FitCard</h2>
            <ul class="actions">
                @Html.ActionLink("Estabelecimentos", "Index", "Company", null, new { @class = "my-button my-button-green" })
            </ul>
            <ul class="actions">
                @Html.ActionLink("Categorias", "Index", "Category", null, new { @class = "my-button my-button-grey" })
            </ul>
        </section>
        <section>
            <ul class="checklist">
                Tecnologias Utilizadas:
                <li>ASP.NET Mvc</li>
                <li>Entity Framework 6</li>
                <li>JavaScript</li>
                <li>Bootstrap</li>
                <li>Css</li>
            </ul>
        </section>
    </div>
</section>